.DS_Store
*.unitypackage
JustTrackSDKExampleApp
.vscode
build-*
tracking-sdk/
**/.idea/

local.properties

**/JustTrackSettings.asset
**/TestAppCredentials.generated.cs
**/TestAppCredentials.generated.cs.meta
**/AppLovinSettings.asset
**/GoogleMobileAdsSettings.asset
**/google-services.json
**/GoogleService-Info.plist
**/google-services-desktop.json
**/google-services.json.meta
**/GoogleService-Info.plist.meta
**/google-services-desktop.json.meta
**/AppLovinSettings.asset.meta
**/GoogleMobileAdsSettings.asset.meta
**/UnityConnectSettings.asset
**/UnityConnectSettings.asset.meta

# test artifacts
TestResults/
CoverageResults/

# Codegraph index
.codegraph/
